body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}
/* #button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

/* .content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
} */

/* ***************************************** */
/*
body {
  background-color: #000;
  margin: 0;
}


.title {
  color:  #000;
  position: absolute;
  top: 7%;
  left: 6%;
  text-transform: uppercase;
  font-size: 56px;
  text-shadow: 0 0 10px #fff;
}

.content {
  padding: 20px 30px;
  font-size: 20px;
  color: #999;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.thumbnail{
  height: 100vh;
  padding: 10px;
  box-shadow: 1px 1px 10px gold
}



/*  scroll css section here*/
/* .scrolltop .icon {
    font-size: 30px;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 10px;
}

.scrolltop {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
} */
/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}
